<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rails User Management System III</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    	<div class="panel">
    		<h2> Edit User's profile</h2>	
    	</div> 

      	<form class="form-horizontal" action="/users/<%= @user.id%>" method="post">
      		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    		<div class="form-group">
          <input type='hidden' name='_method' value='patch'> 
  <p>
      			<label class="control-label col-sm-2" for="email">First Name:</label>
      			<div class="col-sm-4">
        			<input type="text" class="form-control" name="user[first_name]" value="<%= @user.first_name%>" id="firstname" placeholder="Enter first name">
      			</div>
    		</div>
    		<div class="form-group">
      			<label class="control-label col-sm-2" for="pwd">Last Name:</label>
      			<div class="col-sm-4">
        			<input type="text" class="form-control" name="user[last_name]" value="<%= @user.last_name%>" id="lastname" placeholder="Enter last name">
      			</div>
    		</div>

    		<div class="form-group">
      			<label class="control-label col-sm-2" for="pwd">Email:</label>
      			<div class="col-sm-4">
        			<input type="text" class="form-control" name="user[email]" value="<%= @user.email%>" id="email" placeholder="Enter email">
      			</div>
    		</div>

    		<div class="form-group">
      			<label class="control-label col-sm-2" for="pwd"> Password:</label>
      			<div class="col-sm-4">
        			<input type="password" class="form-control" name="user[password]" value="<%= @user.password%>" id="pwd" placeholder="Enter password">
      			</div>
    		</div>
    		
    		<div class="form-group">
      			<div class="col-sm-3">
        			<button type="submit" class="btn btn-info">Update</button>
      			</div>
    		</div>
  		</form>
  		<a href="/users/<%= @user.id %>" class="btn btn-info">Show</a>
      	<a href="/users" class="btn btn-info">Back</a>
    </div>
  </body>
</html>




